#new-friend {
  padding: 20px;
}

#new-friend > h2 {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 12px;
  color: #686868;
  margin-bottom: 5px;
}

#new-friend input[type='text'] {
  color: #141414;
}
#new-friend input[type='text']::placeholder {
  color: #969494;
}
