#sidebar {
  background: #4d575c;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex: 0 1 150px;
}
#sidebar > .header {
  padding-left: 2px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
#sidebar > .header > h3 {
  flex: 1;
}
#sidebar > .header > i {
  cursor: pointer;
}
#sidebar > .header > i:hover {
  background: #424a4e;
}

ul.sidebar {
  list-style: none;
  flex: 1;
}

li.sidebar {
  border-top: 1px solid #475055;
  padding: 15px;
}
li.sidebar > .name {
  color: #ddd;
}
li.sidebar > .msg {
  color: #bbb;
  font-style: italic;
  font-size: 12px;
}

.sidebar.share {
  border-top: 1px solid #475055;
  padding-top: 15px;
}

.sidebar.share > #selfID {
  padding-bottom: 5px;
}

.sidebar .gray {
  color: #ccc;
  background: #464f53;
  border-radius: 3px;
  padding: 3px;
  user-select: all;
}

.sidebar.share select {
  outline: 0;
}
